# File: .dockerignore
# Author: Matt Manzi
# Created: 2021-01-26
#
# Ignore file for Docker in this project.

# ignore everything
*

## except container-related files:
# - mongo configuration
!.local/mongo

# - ca, server, client certificates
!.local/x509/*.pem
