# File: .local/.dockerignore
# Author: Matt Manzi
# Created: 2021-01-26
#
# Ignore file for Docker in this project.

# ignore everything
*

## except container-related files:

# - mongo configuration
!mongo

# - ca, server, certificates;  client csr
!x509/*.pem
!x509/client.csr
